# Ignore node_modules directories
node_modules/
frontend/node_modules/

# Ignore lock files
package-lock.json
frontend/package-lock.json

# Ignore environment variables file
server/.env

# Ignore build output directory for React app (if any)

# Ignore log files
*.log
